/* alert */
.c-alert-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	overflow: auto;
	opacity: 0;
	display: none;
	background-color: rgba(0 ,0 ,0 , 0.4);
	z-index: 1000;
	transition: opacity .3s;
}

.c-display {
	display: inline-block;
}

.c-alert-overlay::before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.c-alert-box {
	min-width: 450px;
	background-color: #fff;
	text-align: center;
	border-radius: 5px;
	position: static;
	display: none;
	margin: 20px auto;
	display: inline-block;
	vertical-align: middle;
	z-index: 1001;
	animation: transformAnimate 1s;
}

@keyframes transformAnimate {
	from {
		--webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
		opacity: 0;
	}

	30% {
		--webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		--webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		--webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		--webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		--webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
	}

	to {
		--webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.c-alert-icon:not(:last-child) {
	margin-bottom: 14px;
}

.c-alert-icon:first-child {
	margin-top: 27px;
}

.c-alert-icon {
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	text-transform: none;
	position: relative;
	display: block;
	font-size: 27px;
	line-height: normal;
	padding: 13px 16px;
	text-align: center;
	color: rgba(0 ,0 ,0, 0.85);
}

.c-alert-text {
	font-size: 1rem;
	position: relative;
	line-height: normal;
	vertical-align: top;
	text-align: left;
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.75);
	max-width: calc(100% - 20px);
	box-sizing: border-box;
}

.c-alert-footer {
	text-align: center;
	margin-top: 13px;
	padding: 13px 16px;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.c-alert-button {
	margin: 5px;
	display: inline-block;
	position: relative;
}

.alert-button {
	background-color: #0fb48c;
	color: #fff;
	border: none;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 28px;
	font-weight: 600;
	cursor: pointer;
	margin: 0;
	border-radius: 5px;
}

.alert-button:hover {
	background-color: rgba(15, 180, 140, 0.88);
}

.c-alert-icon span {
	font-size: 5rem;
}

.c-alert-icon .error {
	color: var(--danger);
}

.c-alert-icon .success {
	color: var(--success);
}
