/*** card item in content ***/
#content card-item .card {
	transition: .3s ease;
}

#content card-item .card img{
	transition: transform .5s ease-in, filter .3s ease;
}

#content card-item img:hover {
	transform: scale(1.02);
	--webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.list-movie {
	background-color: #2b3942;
}

.card {
	background-color: transparent;
	border: none;
}

.card img {
	border-radius: 5px !important;
}

.card-title {
	font-size: 1rem;
	font-weight: bold;
}

.card-title, .card-subtitle {
	color: #fff;
}

.card-body .card-title:hover {
	color: var(--secondary);
}

.overflow-x-scroll {
	overflow-x: scroll;
}

bs-heading {
	position: relative;
}

bs-heading::before {
	content: '';
	height: 80%;
	width: 5px;
	background-color: var(--secondary);
	position: absolute;
	left: 0;
	top: 0;
}
