@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import './navbar.css';
@import './card.css';
@import './detail.css';

:root {
	--secondary: #0fb48c;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: rgb(29, 42, 50);
}

::-webkit-scrollbar-track {
	border-radius: 50px;
	-webkit-box-shadow: inset 0px 5px 10px 0px rgba(49,51,56,0.6);
	-moz-box-shadow: inset 0px 5px 10px 0px rgba(49,51,56,0.6);
	box-shadow: inset 0px 5px 10px 0px rgba(49,51,56,0.6);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
	background-color: #079472;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(29, 42, 50);
	color: #fff;
}

a {
	text-decoration: none !important;
}

.inline-list {
	display: inline-flex;
	justify-content: center;
}

.icon-item {
	font-size: 1.75rem;
	border-bottom: 4px solid transparent;
	transition: .5s;
}

.icon-item:hover {
	transform: translateY(-5px);
	border-bottom-color: #fff;
}

.icon-item a {
	color: #fff;
	cursor: pointer;
}

.inline-list-item {
	list-style: none;
	padding: 0 0.5rem 0.25rem 0.5rem;
	margin: 0 0.75rem 0.25rem 0.75rem;
}

.inline-item a {
	font-size: 1rem;
	color: #fff;
}

.inline-item a:hover {
	text-decoration: underline !important;
}

.title-movie span {
	font-weight: normal;
	font-size: 1.7rem;
}
