@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import './navbar.css';
@import './alert.css';
@import './card.css';

:root {
	--primary: #0fb48c;
}
::-webkit-scrollbar {
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 50px;
	border-top: 1px solid gray;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
	background-color: #079472;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #000000;
}

a {
	text-decoration: none !important;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

bs-heading {
	position: relative;
}

bs-heading::before {
	content: '';
	height: 80%;
	width: 5px;
	background-color: var(--primary);
	position: absolute;
	left: 0;
	top: 0;
}

footer .jumbotron {
	background-color: #000;
}

.inline-list {
	display: inline-flex;
	justify-content: center;
}

.icon-item {
	font-size: 1.75rem;
	border-bottom: 4px solid transparent;
	transition: .5s;
}

.icon-item:hover {
	transform: translateY(-5px);
	border-bottom-color: #fff;
}

.icon-item a {
	color: #fff;
	cursor: pointer;
}

.inline-list-item {
	list-style: none;
	padding: 0 0.5rem 0.25rem 0.5rem;
	margin: 0 0.75rem 0.25rem 0.75rem;
}

.inline-item a {
	font-size: 1rem;
	color: #fff;
}

.inline-item a:hover {
	text-decoration: underline !important;
}